<template name="adminSetting">
<div align="center">
<div  style='width:50%;'>
<br>
<div class="collection" align='center'>      
<a href="{{pathFor 'addNewTag'}}" class="collection-item" type="button">
	New Tag
</a>

<a href="{{pathFor 'addNewCourse'}}" class="collection-item" type="button">
	New Course
</a>
<a href="{{pathFor 'addNewVideo'}}" class="collection-item" type="button">
	New Video
</a>
<a href="{{pathFor 'authorIntroduce'}}" class="collection-item" type="button">
	Author Introduce
</a>
<a href="{{pathFor 'deleteCourse'}}" class="collection-item" type="button">
	Delete Course
</a>
<a href="{{pathFor 'deleteChooseCourse'}}" class="collection-item" type="button">
	Delete Video
</a>
</div>
</div>
</div>
</template>