<template name="adminSetting">
<a href="{{pathFor 'addNewTag'}}" class="btn btn-primary col-xs-12 col-sm-12"  type="button">
	New Tag
</a>

<a href="{{pathFor 'addNewCourse'}}" class="btn btn-primary col-xs-12 col-sm-12"  type="button">
	New Course
</a>
<a href="{{pathFor 'addNewVideo'}}" class="btn btn-primary col-xs-12 col-sm-12"  type="button">
	New Video
</a>
<a href="{{pathFor 'authorIntroduce'}}" class="btn btn-primary col-xs-12 col-sm-12"  type="button">
	Author Introduce
</a>
</template>