<template name="toolbar">

<!-- <div id="my_course_button">
	MyCourse
</div> -->
<!-- <div id="photo">
</div>	 -->
<div id="footer">	
	<div id="user_button">
		Snoopy
	</div>	
	<div id="logout_button">
		{{#if currentUser}} 
		<a href="#login" style="width: 100% ; height:100%" class="btn btn-primary col-xs-12 col-sm-12" id="login-buttons-password,logout_button" type="button">
				Sign out
		</a>
		{{else}}
		<a href="#login" style="width: 100% ; height:100%" class="btn btn-primary col-xs-12 col-sm-12" id="login-buttons-password,logout_button" type="button">
				Sign in
		</a>
		{{/if}}
	</div>
	<div id="setting_button">
		<a href="{{pathFor 'adminSetting'}}" style="width: 100% ; height:100%" class="btn btn-primary col-xs-12 col-sm-12" type="button">
				Admin
		</a>
	</div>
</div>


</template>