<template name="addNewCourse">
<div align="center">
<div  style='width:50%;'>
<h4>New Course</h4>
<form class="col s12">
   <label>Course Tag</label>
    <select class="browser-default" name="course_tag">
      <option value="" disabled selected>Choose Course Tag</option>
      {{#each course_tags}}
      <option value="{{tag_name}}">{{tag_name}}</option>
      {{/each}}
    </select>
        <div class="input-field col s12">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="icon_prefix" type="text" class="validate" name="course_name">
          <label for="icon_prefix">Course Name</label>
      </div>
        <div class="input-field col s12">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="icon_prefix" type="text" class="validate" name="course_id">
           <label for="icon_prefix">Course ID</label>
        </div>        
        <div class="input-field col s12">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="icon_prefix" type="text" class="validate" name="course_sample">
           <label for="icon_prefix">Course Sample Video</label>
        </div> 
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="course_introduce"></textarea>
          <label for="textarea1">Course Introduce</label>
        </div> 
        <div class="input-field col s12">
          {{> upload_bootstrap fileTypes='.jpg'}}
        </div>   
	<input type="submit" value="Submit" class="btn btn-primary">
</form>
</div>
</div>
</template>