<template name="addNewCourse">
<div align="center">
<div id="add_new_course" align="center">
<h4>New Course</h4>
<form class="col s12">
	<select name="course_tag">
		{{#each course_tags}}
			<option value="{{tag_name}}">{{tag_name}}</option>
		{{/each}}
	</select>
	<br>
	<br>
	<div class="row">
        <div class="input-field col s12">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="icon_prefix" type="text" class="validate" name="course_name">
          <label for="icon_prefix">Course Name</label>
      </div>
  	</div>
  	<div class="row">
        <div class="input-field col s12">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="icon_prefix" type="text" class="validate" name="course_id">
           <label for="icon_prefix">Course ID</label>
        </div>        
  	</div>
  	<div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="course_introduce"></textarea>
          <label for="textarea1">Textarea</label>
        </div>     
  	</div>
    <div class="row">
        <div class="input-field col s12">
          {{> upload_bootstrap fileTypes='.jpg'}}
        </div>        
    </div>
	<input type="submit" value="Submit" class="btn btn-primary">
</form>
</div>
</div>
</template>