body{
  margin: 0px;
  overflow-x:hidden;
  overflow-y:hidden;
}

#course_introduce{
  position: absolute;
  height: 100%;
}

#course_content{
  position: absolute;
  height: 100%;
}

#author_introduce{
  position: absolute;
  height: 100%;
}

#course_vedio{
  width: 180px;
  height:140px;
}

#course_inside_list{
  width: 110%;
  height: 100%;
  overflow-x:hidden;
  overflow-y:scroll;

}

#course_outside_list{
  position: absolute;
  left: 25%;
  width: 50%;
  height: 94%;
  overflow-x:hidden;
  overflow-y:hidden;

}

#course_instructor{
  position: absolute;
  left: 75%;
  width: 25%;
  height: 94%;
}

#my_course_button{
  text-align: center;
  background:#AAAAAA;
  color:#FFFFFF;
  /*height: 25%;*/
  position: fixed;
  bottom:25vh;
  width:25vh;
  height:5vh;
  z-index:2;
}

#photo{
  background:#AAAAAA;
  color:#FFFFFF;
  /*height: 25%;*/
  position: fixed;
  bottom:0;
  width:25vh;
  height: 25vh;
  z-index:2;

  /* 透明度*/
  filter:alpha(Opacity=80);
  -moz-opacity:0.5;
  opacity: 0.5;
}

#footer{
  background:#66CCCC;
  color:#FFFFFF; 

  /*margin-left: 25vh;*/
  height: 6vh;
  width:100%;
  position:fixed; /*固定位置定位*/
  bottom:0; /*距離上方 0 像素*/
  z-index:1;/*重疊時會在其他元素之上*/
}

#user_button{
  text-align: center;
  background:#AABBBB;
  color:#FFFFFF; 
  height: 100%;
  width:15%;
  float:left;
  z-index:2;  
}

#logout_button{
  /*margin-right: 25vh;*/
  text-align: center;
  height: 100%;
  width:140px;
  float:right;
  z-index:2;
}

#setting_button{
  text-align: center;
  background:#AACCCC;
  color:#FFFFFF; 
  height: 100%;
  width:140px;
  float:right;
  z-index:2;
}

/*index*/
#course_tag{
  position: absolute;
  left: 0%;
  width: 25%;
  height: 70%;
}

#course_choose{
  position: absolute;
  left: 25%;
  width: 75%;
  height: 94%;
}

#course_table{
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
}

#course_block{  
  background:#AAAAAA;
  color:#FFFFFF;
  width: 31%;
  height: 38%;
  margin: 1%;
  float: left;
}


#add_new_tag{
  width: 30%;
  height: 94%;
}

#add_new_video{
  width:30%;
  height: 94%;
}


#add_new_course_inside{
  width: 105%;
  height: 100%;
  overflow-x:hidden;
  overflow-y:scroll;

}

#add_new_course_outside{
  position: absolute;
  left: 40%;
  width: 30%;
  height: 94%;
  overflow-x:hidden;
  overflow-y:hidden;

}


