<template name="courseEachIndex">
<div>
	<div class="row">
		<div id='course_each_introduce' align='center' class="orange lighten-5 col s12 m4 l3 course_introduce">
			<br>
			{{>courseEachIntroduce}}
			<br>	
			{{>courseEachInstructor}}
		</div>

		<div id='course_each_video' class="purple lighten-5 col s12 m4 l6 course_content">
			{{>courseEachVideo}}
		</div>

		<div id='course_each_list' class="blue lighten-5 col s12 m4 l3 author_introduce">
			{{>courseEachList}}
		</div>
	</div>
</div>
</template>