<template name="addNewVideo">
<div align="center">
<div id="add_new_video" align="center">
<h4>New Video</h4>
<form>
	<label>Course ID</label>
    <select class="browser-default" name="course_id">
      <option value="" disabled selected>Choose Course ID</option>
      {{#each course_ids}}
      <option value="{{course_id}}">{{course_id}}&nbsp;-&nbsp;{{course_name}}</option>
      {{/each}}
    </select>
  <div class="input-field col s12">
      <i class="mdi-device-storage prefix"></i>
      <input id="icon_prefix" type="text" class="validate" name="chapter">
      <label for="icon_prefix">Chapter</label>
  </div>
  <div class="input-field col s12">
      <i class="mdi-editor-format-color-text prefix"></i>
      <input id="icon_prefix" type="text" class="validate" name="video_name">
      <label for="icon_prefix">Video Name</label>
  </div>
  <div class="input-field col s12">
      <i class="mdi-editor-insert-link prefix"></i>
      <input id="icon_prefix" type="text" class="validate" name="video_url">
      <label for="icon_prefix">Video URL</label>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
</div>
</div>
</template>